.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 30px;
    padding: 0 30px 30px 30px;
}

.card {
    background: #fff;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.137);
    border: 1px solid #eee;
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card p {
    margin-top: 10px;
    color: #64748B;
}

.card h3 {
    margin-top: 5px;
}

.tag {
    padding: 4px 10px;
    border-radius: 20px;
}

.tag-green {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #dcfce7;
    color: #10B981;
    padding: 13px 10px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 800;
}

.tag-gray {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #e2e8f0;
    color: #94A3B8;
    padding: 13px 10px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 800;
}

.tag-red {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #E306131A;
    color: #E30613;
    padding: 13px 10px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 800;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #f1f5f9;
    border-radius: 10px;
}

.icon.red {
    background: #FEE2E2;
}

.icon.blue {
    background: #DBEAFE;
}

.icon.gray {
    background: #F1F5F9;
}