/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
}

:root {
    /* colors */
    --color-hover: #dc2626;
    --hover-background: #fee2e2;
    --a-color: #334155;
    --background: #f1f5f9;
    --background-suporte: #F8FAFC;



    /* H1 */
    --heading1-size: 20px;
    --heading1-height: 28px;
    --heading1-weight: 700;
    
    /* H2 */
    --heading2-size: 30px;
    --heading2-height: 36px;
    --heading2-weight: 700; 

    /* paragrafo */
    --paragrafo-color: #64748B;
    --paragrafo-size: 16px;
    --paragrafo-height: 24px;
    --paragrafo-weight: 400;

    /* paragrafo 2 */
    --paragrafo2-color: #FFFFFF;
    --paragrafo2-size: 16px;
    --paragrafo2-height: 24px;
    --paragrafo2-weight: 600;

    /* span */
    --span-size: 14px;
    --span-height: 14px;
    --span-weight: 600;

    /* span 2 */
    --span2-size: 14px;
    --span2-height: 16px;
    --span2-weight: 400;
    --span2-color: #64748B;

    /* tag */
    --tag-size: 12px;
    --tag-height: 16px;
    --tag-weight: 700;

}

body {
    background: var(--background);
    display:grid;
    grid-template-columns:250px 1fr;
    height:100vh;
}

h1 {
    font-size: var(--heading1-size);
    height: var(--heading1-height);
    font-weight: var(--heading1-weight);
}

h2 {
    font-size: var(--heading2-size);
    height: var(--heading2-height);
    font-weight: var(--heading2-weight);
}

p {
    font-size: var(--paragrafo-size);
    height: var(--paragrafo-height);
    color: var(--paragrafo-color);
    font-weight: var(--paragrafo-weight);
}

a {
    color: var(--a-color);
}

span {
    font-size: var(--span-size);
    height: var(--span-height);
    font-weight: var(--span-weight);
}

.span2 {
    font-size: var(--span2-size);
    height: var(--span2-height);
    font-weight: var(--span2-weight);
    color: var(--span2-color);
}

.paragrafo2 {
    font-size: var(--paragrafo2-size);
    height: var(--paragrafo2-height);
    font-weight: var(--paragrafo2-weight);
    color: var(--paragrafo2-color);
}

.tag{
    font-size: var(--tag-size);
    height: var(--tag-height);
    font-weight: var(--tag-weight);
}