.main-content {
    padding: 30px;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
    border-bottom: 1px solid #FFFFFFCC;
}

.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

h2 {
    margin-bottom: 5px ;
}

.pesquisa {
    width: 448px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #F1F5F9;
    padding: 8px 12px;
    border-radius: 8px;
}

.search {
    border: none;
    outline: none;
    background: transparent;
    width: 300px;
}

.user{
    display:flex;
    align-items:center;
    gap:10px;
}

.user div {
    text-align: right;
}

.avatar > img{
    border-radius:50%;
    width: 40px;
}

.content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 30px;
}

.content h2 {
    grid-column: 1;
}

.content p {
    grid-column: 1;
}


.adicionar {
    display: flex;
    justify-content: flex-end;
}

.adicionar button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #E30613;
    border: none;
    padding: 14px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.adicionar button:hover {
    background-color: #b8050f;
}