.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.search{
    width:400px;
    padding:10px;
    border-radius:8px;
    border:1px #64748B;
    background-color: #F1F5F9;
}

.user{
    display:flex;
    align-items:center;
    gap:10px;
}

.avatar > img{
    border-radius:50%;
}