.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.logo-icon {
    background: #E30613;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:230px;
    background:#ffffff;
    padding:20px;
    border-right:1px solid #eee;
}

.side-bar > nav > a{
    display:flex;
    align-items: center;
    gap:10px;
    padding:10px;
    margin-bottom:10px;
    color:#333;
    text-decoration:none;
    border-radius:6px;
    margin-top: 20px;
}

.side-bar > nav > svg {
    margin-bottom: -4px;
}

.side-bar > nav > a.active{
    background:#ffe6e6;
    color:#e60023;
}

.menu-item:hover{
    background: var(--hover-background);
    color: var(--color-hover);
}

.suporte{
    margin-top: auto;
    font-size:14px;
    background: var(--background-suporte);
    border-radius:12px;
    padding:15px;
}

.suporte > p{
    font-size:12px;
    letter-spacing:1px;
}
